extends layout_text.pug

block content
  div.ui.container
    .ui.grid
      .row
        .sixteen.wide.mobile.sixteen.wide.tablet.sixteen.wide.computer.column
          br
          div.ui.text.container !{text}
