extends layout.pug

block content
  section#content
    .ui.active.transition.visible.inverted.dimmer.preloader
      .content
        .center
          .ui.large.text.loader Loading
    div#root
    script(src="/assets/js/map.js" async)
    script(src='/assets/js/bundle.js' async)
