extends layout.pug

block content
  .ui.active.transition.visible.inverted.dimmer.preloader
    .content
      .center
        .ui.large.text.loader Loading
  div#root
  script(src='/assets/js/bundle-home.js' async)
