doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="/assets/css/semantic.min.css")
    link(rel="stylesheet",href="/assets/css/style.css")
    link(rel="stylesheet",href="/assets/css/cropper.min.css")
  body
    header
      div.ui.container
        div.logo
          a(href="/") Events
        div.menu
          a(href="/about") About
          a(href="/help") Help
          a(href="/owners") For owners

    section#page
      div.ui.container
        h3= message
        h4= title

    section#content
      block content

    footer
