doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="/assets/css/semantic.min.css")
    link(rel="stylesheet",href="/assets/css/style.css")
    link(rel="stylesheet",href="/assets/css/cropper.min.css")
  body
    header
      div.ui.container
        div.logo
          a(href="/") Events
        div.menu
          a(href="/about") About
          a(href="/team") Team
          a(href="/how_it_works") How it works

    section#page
      div.ui.container
        div.topBox
          h1.ui.header= message
          h4.ui.header= title
        div#userhome

    section#content
      block content

    footer
      div.ui.container
        div.rights  Created by <a href="https://github.com/8sun"><span>8sun Empire</span></a> under the <a href="https://opensource.org/licenses/MIT"><span>MIT License<span></a><br>Version 0.14
        div.footer_menu
           a(href="/about") About
           a(href="/team") Team
           a(href="/how_it_works") How it works
