doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="/assets/css/semantic.min.css")
    link(rel="stylesheet",href="/assets/css/style.css")
    link(rel="stylesheet",href="/assets/css/cropper.min.css")
  body
    header
      div.ui.container
        div.logo
          a(href="/") Events
        div.menu
          a(href="/about") About
          a(href="/team") Team
          a(href="/how_it_works") How it works

    section#page
      div.ui.container
        div.topBox
          h1.ui.header= message
          h4.ui.header= title
        div#userhome

    section#description
      div.ui.container
        h3 Everything is here!
        h4 Use the magical power
        h5 of your imagination
        p Events. The site is a platform forplacing custom events. They can be generated from the control panel, and usercan customize the number of fields he needs and format their output on the page Users can subscribe for events, comment them, mark details. Each event has its countdown, also it has the built-in Google Map to display the location with the description. To view the event, user needs to become a guest by specifying his name and optionally selecting an avatar. 
          a(href="/about") Read more

    section#options
      div.ui.container
        ul.options
          li
            i.write.bordered.big.icon
            p Create your events
          li
            i.share.bordered.big.icon
            p Share your events
          li
            i.archive.bordered.big.icon
            p Look different events
          li
            i.translate.bordered.big.icon
            p Multilanguage interface

    section#content      
      div.ui.container
        div.ui.grid
          div.row
            div.sixteen.wide.mobile.ten.wide.tablet.ten.wide.computer.column
              block content         
            div.sixteen.wide.mobile.six.wide.tablet.six.wide.computer.column
              h1 We’re in social
              div.socials 
                a(href="https://github.com/8sun")
                  i.github.square.big.icon
                a(href="https://facebook.com/8sun")
                  i.facebook.square.big.icon
                a(href="https://plus.google.com/8sun/")
                  i.google.plus.square.big.icon
                a(href="")
                  i.youtube.square.big.icon
                a(href="")
                  i.vk.big.icon
                a(href="")
                  i.twitter.square.big.icon
                a(href="")
                  i.linkedin.square.big.icon  
              h1 About Team
              p This project was developed by our team to give usersability to create, share and participate in various events. Version is notstable yet but we are on the finish line. We would like to implement more newfeatures, but the main goal is to make service convenient and fast asmuch as possible.
              a.ui.blue.inverted.button(href="/team") Know more 
      

    footer
      div.ui.container
        div.rights  Created by <a href="https://github.com/8sun"><span>8sun Empire</span></a> under the <a href="https://opensource.org/licenses/MIT"><span>MIT License<span></a><br>Version 0.14
        div.footer_menu
           a(href="/about") About
           a(href="/team") Team
           a(href="/how_it_works") How it works
