@font-face
    font-family Lobster
    src url(../fonts/lobster.ttf)

@font-face
    font-family Gotham
    src url(../fonts/Gotham-Pro-Light-Regular.ttf)

@font-face
    font-family Myriad_Pro
    src url(../fonts/Myriad_Pro.ttf)

.logo
    font-family Lobster
    font-size 49px
    float left
    justify-content space-around
    flex-direction column-reverse
    display flex
    height 70px

.arrow-top
    opacity 0

.arrow-top-show
    background url(../img/arrow.png) no-repeat
    background-size 92px
    height 95px
    opacity 1
    margin-top 0px
    transition 1s

.ava
    width 70px
    border-radius 50%
    vertical-align bottom
    cursor pointer

ul
    padding-left 0
    li
        list-style-type none
        margin 3px 0

.btn-toolbar
    float right

.homepage
    blockquote
        font-size 14px

.btn-success
    background-color #f26b00
    border-color #c55903
    &:hover
        background-color #f26b00

.colorize
    background #337ab7
    transition 1s

.content
    div
        // font-family Gotham

.bg-success
    padding 15px

.userline
    height 40px
    background #FDF6E3
    justify-content space-around
    flex-direction row
    align-items center
    display flex
    font-size 16px

.pic
    width 37px
    border-radius 50%
    border 2px solid #2b2d2b
    margin-right 10px

body
    background-color #FBFEFA

header
    height 70px
    background #f26b00
    color #2b2d2b
    a
        color #2b2d2b

footer
    background #2b2d2b
    color #2b2d2b
    margin-top 20px
    padding: 50px 0px
    overflow: hidden

.menu
    height 70px
    float right
    display flex
    justify-content space-around
    flex-direction row
    align-items center
    a
        padding 0 10px
        color #2b2d2b

section#page
    height 200px
    background #2b2d2b
    color #fbfefa
    padding-top 40px

section#page
    h3
      font-size 36px
      font-family Myriad_Pro
      line-height 0.606

section#page
    h4
      font-size 18px
      font-family Myriad_Pro
      line-height 1.211

.sign_in
    float right
    font-size: 14px
    font-family: Myriad_Pro
    color: rgb(255, 255, 255)
    line-height: 1.129
    text-align: center

.create_it
    float right
    font-size: 14px
    font-family: Myriad_Pro
    color: rgb(255, 255, 255)
    line-height: 1.129
    text-align: center

section#page
    button.ui.button
        width 152px
        height 54px
        color #fbfefa
        font-size 18px
        font-family Myriad_Pro
        line-height 1.211
        text-align center
        text-transform uppercase
        margin 0 0 10px 10px

section#description
    background url(../img/bg.png)
    background-size cover
    height 530px
    padding-top: 80px

section#description
    h3
        font-size 60px
        color: rgb(0, 0, 0)
        line-height 0.964
        margin-bottom: 50px
        font-family Myriad_Pro

section#description
    h4
        font-size: 48px
        color: rgb(253, 254, 249)
        line-height: 1
        background black
        margin: 0
        margin-top: 8px
        width: 555px
        padding: 0 5px
        font-family Myriad_Pro

section#description
    h5
        font-size: 48px
        color: rgb(253, 254, 249)
        line-height: 1
        background black
        margin: 0
        margin-top: 8px
        width: 454px
        padding: 0px 5px
        font-family Myriad_Pro

section#description
    p
        font-size: 12px
        color: rgb(0, 0, 0)
        line-height: 1.651
        width: 328px
        height: 165px
        text-align: justify
        overflow: hidden
        font-family Myriad_Pro
        margin-top 30px
        a
            float right
            color: rgb(0, 0, 0)
            font-weight bold
            margin-top 10px

 section#options
    background #2b2d2b

ul.options
    display flex
    justify-content space-between
    margin 0 auto
    padding 50px 0
    li
        font-size: 12px
        font-family: Myriad_Pro
        line-height: 1.651
        text-align: center
        i
            background white
            border-radius 25%
            box-shadow none
        p
            margin-top 10px
            color rgb(240, 241, 235)

#content
    padding-bottom 50px
    h1
        font-size: 36px
        font-family: Myriad_Pro
        color: rgb(242, 107, 0)
        margin: 20px 0
    p
        text-align: justify

.socials
    display flex
    justify-content space-between
    margin-bottom: 40px
    a
        color: #2b2d2b

.rights
    float left
    font-size: 14px
    font-family: Myriad_Pro
    color: rgb(65, 131, 196)
    line-height: 1.415
    span
        color white

.footer_menu
    float right
    a
        font-size: 14px
        font-family: Myriad_Pro
        color: #f26b00
        line-height: 1.415
        margin-left: 15px
        &:hover
            color: rgb(251, 254, 250)

a.chosen
    color: rgb(251, 254, 250)



.fileInput
    border-bottom 4px solid #d3d3d3
    border-right 4px solid #d3d3d3
    border-top 1px solid #000
    border-left 1px solid #000
    padding 10px
    margin 15px
    cursor pointer

.imgPreview
    width 300px
    height auto
    img
        width 200px
        height auto

.previewText
    width 100%
    margin-top 20px

.submitButton
    padding 12px
    margin-left 10px
    background #fff
    border 4px solid #d3d3d3
    border-radius 15px
    font-weight 700
    font-size 10pt
    cursor pointer
    &:hover
        background #efefef

.centerText
    text-align center
    width 500px

label.uploadbutton
    display inline-block
    overflow hidden

label.uploadbutton input
    display none

.avatarUploadBox span
    display block
    margin 0 0 .28571429rem
    color rgba(0,0,0,.87)
    font-weight 700
    text-transform: none
    font-size .92857143em

.comment .text
    white-space pre-line

.slider
    position relative
    overflow hidden
    width 100%
    height 500px

.crop
    position absolute
    left 0px
    width 100%
    height 500px
    transition 1s
    background #fff
    border 1px solid #ccc
    border-radius 5px
    padding: 20px

.name
    position absolute
    left 0px
    width 100%
    height 500px
    transition 1s
    background #fff
    border 1px solid #ccc
    border-radius 5px
    padding: 20px

.crop-hide
    transition 1s
    left -100%

.name-hide
    transition 1s
    left 100%

.avatars
    margin-bottom 10px
    width 100%

.avatars
  img
    margin-right 20px
    vertical-align top

#clockdiv
  font-family sans-serif
  color #fff
  background #f26b00
  border-radius 5px
  display inline-block
  font-weight 100
  text-align center
  font-size 30px
  & > div
    padding 4px
    display inline-block
  div
    & > span
      padding 8px
      border-radius 3px
      background #2b2d2b
      display inline-block

.smalltext
  padding-top 5px
  font-size 16px

.topBox
  float left

.topBox
  & .ui
    color #fff
    text-align left

.topBoxText
  & .ui
    color #fff
    text-align center

.blueFont.ui
    color #4183c4

.blueBox.ui
  background #4183c4

.skip
  float right
  & span
    @extend .avatarUploadBox span

.page
  & .ui.steps
    width 100%

.BottomRightPosition
  bottom 10px !important
  position absolute !important
  right 20px !important

.BottomLeftPosition
  bottom 10px !important
  position absolute !important
  left 20px !important

#userhome
  float right

@media (max-width: 767px)
    .logo
        font-size: 30px

    section#page
        height: auto
        padding-bottom: 40px
        button.ui.button
            width: 130px
            height: 50px
            color: #fbfefa
            font-size: 15px
            margin 0
        h3
            font-size: 26px
            line-height 2
            margin 0
        h4
            font-size: 14px
            margin-top 0

    section#description
        height: auto
        padding-top: 40px
        h3
            font-size: 35px
            margin-bottom: 50px
        h4
            font-size: 30px
            width: 350px
        h5
            font-size: 30px
            width: 241px

@media (max-width: 520px)
    section#page
        h3

            clear: both
           text-align center
        h4
            text-align center

    .sign_in
        float left
        margin-left 20px
        font-size: 12px

    .create_it
        margin-right 40px
        font-size: 12px

@media (max-width: 394px)
    .sign_in
        float left
        margin-left 0

    .create_it
        margin-right 0

    section#description
        h3
            font-size: 30px
            margin-bottom: 35px
        h4
            font-size: 25px
            width: 295px
        h5
            font-size: 25px
            width: 205px
        p
            font-size: 10.5px
            width: 294px

    ul.options li p
        font-size: 10px

#map
  height 400px

.subscribeEmail
  margin-top 20px
